/* class debug*/
.db-debug {
    border: 1px solid red;
}

/* Reset */
ul {
    list-style: none;
    padding: 0;
}

.img-res {
    width: 100%;
    display: block;
}

/* -------------------------------------------------------------------------------- */
/* ! Structure container */
/* -------------------------------------------------------------------------------- */
.wrapper {
    height: 100vh;
}

header {
    height: 80px;
}

main {
    padding-top: 80px;
}

aside {
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-position: top top;
}

#dashboard {
    width: calc(100% - 150px);
}

/* -------------------------------------------------------------------------------- */
/* ! Aside */
/* -------------------------------------------------------------------------------- */
aside a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
}

/* -------------------------------------------------------------------------------- */
/* ! Table */
/* -------------------------------------------------------------------------------- */
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}