/* class debug*/
.db-debug {
    border: 1px solid red;
}

/* Reset */
ul {
    list-style: none;
    padding: 0;
}

.img-res {
    width: 100%;
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
}

/* -------------------------------------------------------------------------------- */
/* ! Structure container */
/* -------------------------------------------------------------------------------- */
.wrapper {
    height: 100vh;
}

header {
    height: 80px;
}

main {
    padding-top: 80px;
}

aside {
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-position: top top;
}

#dashboard {
    width: calc(100% - 150px);
}

/* -------------------------------------------------------------------------------- */
/* ! Aside */
/* -------------------------------------------------------------------------------- */
aside a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    transition: .3s;
}

aside .icon {
    margin-right: 1.3rem;
}

aside a:hover {
    background-color: var(--bs-gray);
}

/* -------------------------------------------------------------------------------- */
/* ! Table */
/* -------------------------------------------------------------------------------- */
#class-table th:not(:first-child),
#class-table td:not(:first-child) {
    text-align: center;
}

#class-table th:first-child,
#class-table td:first-child {
    width: 40%;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

/* -------------------------------------------------------------------------------- */
/* ! Media query */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    aside a .label {
        display: none;
    }

    aside a .icon {
        margin: 0;
        text-align: center;
    }

    aside {
        width: 70px;
    }

    #dashboard {
        width: calc(100% - 70px);
    }
}