/* class debug*/
.db-debug {
    border: 1px solid red;
}

/* -------------------------------------------------------------------------------- */
/* ! Structure container */
/* -------------------------------------------------------------------------------- */
.wrapper {
    height: 100vh;
}

header {
    height: 80px;
}

main {
    padding-top: 80px;
}

aside {
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

#dashboard {
    width: calc(100% - 150px);
}